# Django settings
SECRET_KEY=replace-this-with-a-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL settings
POSTGRES_DB=univa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Musa@2013
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
